.pagination {
    display: flex;
    margin: 1.5rem auto;
    padding: 0 1.5rem;
    justify-content: space-between;

    a {
        color: var(--gray);
        cursor: pointer;
        display: none;
        text-decoration: none;
        padding: .5rem 1rem;

        &:hover,
        &.active {
            background-color: black;
            color: white;
        }

        &.pagination__md {
            display: block;
        }
    }
}

@media(min-width: 601px) {
    .pagination {
        justify-content: flex-start;
        max-width: 1200px;
        padding: 0;
        width: 80%;

        a {
            display: block;
        }
    }
}